@import 'https://erikflowers.github.io/weather-icons/css/weather-icons.min.css';
@import 'https://erikflowers.github.io/weather-icons/css/weather-icons-wind.min.css';

.Weather {
  padding: 10px;
  width: 550px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
}

.Weather .wi {
  font-size: 20px;
}

.Weather .item {
  display: inline-block;
  width: 52px;
  height: 52px;
  
}

.Weather .moon-info {
  height: 2.8em;
  display:block;
}

.Weather .placeName {
  font-size: 20px;
  padding-bottom: 5px;
}

.Weather .extraInfo {
  padding-top: 5px;
}